body{
	background-image: url("images/sidewalk-star.png");
	background-size: 90%;
}
#explain{
	font-family: 'Montagu Slab', serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 200;
	margin-left: 2vw;
	background-color: white;
	padding: 1em;
	display: flex;
	min-height: 10vh;
	max-height: 45vh;
	max-width: 18vw;
	min-width: 18vw;

}
.projects{
	display: flex;
	justify-content: space-around;
	margin-top: 6vh;
}
a{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color: black;
}
button{
	border-color: black;
	border-radius: 50%;
	padding: 50px;
	font-size: 80px;
	line-height: 45px;
	font-family: 'Montagu Slab', serif;
}
#zine{
	background-color: #ba6500;
	background: linear-gradient(75deg, #ba6500 75%, white);
}
#zine:hover{
	rotate: 1440deg;
	transform: rotateY(-360deg);
	transition: 5s;
}
#billboard{
	background-color: #e5a300;
	background: linear-gradient(75deg, #e5a300 65%, white);
}
#billboard:hover{
	rotate: -1080deg;
	transform: rotateY(360deg);
	transition: 5s;
}
#gift{
	background-color: gainsboro;
	background: linear-gradient(75deg, gainsboro 50%, white);	
}
#gift:hover{
	rotate: 360deg;
	transform: rotateY(360deg);
	transition: 5s;
}
#explain:hover{
	color: red;
}
.details{
	background-color: white;
	margin-left: 2vw;
	padding: 1em;
	font-family: 'Montagu Slab', serif;
	font-size: 16px;
	font-weight: 200;
	animation-name: fade-in;
	animation-duration: 25s;
	display: flex;
	align-content: center;
	max-width: 75vw;
}
.column{
	max-width: 17em;
	margin: 1em;
}
@keyframes fade-in{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100;
	}
}